#main_menu{
    color: #888888;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 100px;
}
#main_menu li{
    display: inline-block;
    margin-top: 30px;
}
#main_menu .items{
    float: left;
    margin-left: 20px;
}
#main_menu .items img{
    height: 350px;
    width: 350px;
}
#main_menu .items img:hover{
    opacity: 0.4;
}
#main_menu .items #name{
    position: absolute;
    text-align: center;
    margin-top: 150px;
    margin-left: 110px;
    font-size: 30px;
    color: rgb(59, 58, 58);
    opacity: 0;
}
#main_menu .items:hover #name{
    opacity: 1;
}
#second_menu{
    width: 100%;
    color: #888888;
    font-size: 20px;
    margin-left: 60px;
    margin-top: 80px;
}
#second_menu #time{
    width: 250px;
    font-size: 30px;
}
#time .open_close{
    list-style-type: none;
}
#daumRoughmapContainer1638145212942{
    margin-top: 30px;
    position: relative;
    
}